<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Loan Calculator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <!--This section will visually contain the fields to input values req'ed to do calculations-->
  <section class="section">
    <div class="container">
      <div class="content">
        <h1>Simple Loan Calculator</h1>
        <p>The Simple Loan Calculator will calculate your estimated payments for loan amounts and interest rates.</p>
      </div>
      
      <!--From here on down in this section visuals for the values required and their info text will be positioned in column format bulma css will be used to structure the columns accordingly-->

    </div>
  </section>
</body>